<div class="auth-container">
    <div class="auth-left">
      <h1>Create your Account</h1>
      <p>Share your artwork and manage your projects easily.</p>
    </div>
  
    <div class="auth-right">
      <h2>Sign Up</h2>
  
      <form>
        <input type="text" placeholder="First Name" required />
        <input type="text" placeholder="Last Name" required />
        <input type="email" placeholder="Email Address" required />
        <input type="password" placeholder="Password" required minlength="6" />
  
        <button type="submit">Register</button>
  
        <p class="alternate-option">
          Already have an account? <a routerLink="/login">Login</a>
        </p>
      </form>
    </div>
  </div>